<!doctype html>
<html lang="<%= (locals.lang)? lang : 'en' %>">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<meta property="fb:app_id" content="1421033384776672" />
		<meta property="og:url" content="http://icecreamstand.ca" />
		<meta property="og:image" content="http://icecreamstand.ca/img/thumb.png" />
		<meta property="og:title" content="Ice Cream Stand">
		<meta property="og:description" content="Free Browser game where you sell delicious delicious ice cream. Open up a stand, buy workers, unlock flavors.">
		<meta property="og:type" content="website" />
		<meta name="description" content="Ice Cream Stand, an incremental browser game in a global economy. Open up an ice cream stand and sell ice cream. Unlock flavors, upgrades, workers and more!" />
		<link rel="icon" type="image/png" href="http://icecreamstand.ca/img/favicon.png" />
		<title>Ice Cream Stand</title>
	</head>
	<body>
		<link rel="stylesheet" href="https://s3.amazonaws.com/icecreamstand.com/common.css.gz" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<style>
			table {
				margin: 10px 0;
				width: 100%;
			}
			thead td {
				font-weight: bold;
			}
			tbody tr:nth-child(2n+1) td {
			    background-color: #F1F1F1;
			}
			td {
			    padding: 5px;
			    width: 220px;
			}
			input[type="submit"] {
			    background-color: #7f7dc7;
			    color: #fff;
			}
			form {
				padding: 20px;
				background-color: #f1f1f1;
			}
			input {
				background-color: #fff;
				display: inline-block;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function (e) {
				console.log('loaded...');

				$('body').on('submit', '#find_ip', function (e) {
					$('.find_ip_results').html('. . .');
					$.ajax({
						url: $(this).attr('action'),
						data: $(this).serialize(),
						type: 'post',
						dataType: 'json',
						success: function (j) {
							$('.find_ip_results').html('');
							for (var i = 0; i < j.length; i++) {
								var result = j[i];
								$('.find_ip_results').append('<tr><td><a href="user/' + result.name + '" target="_blank">' + result.name + '</a></td><td>' + result.ip + '</td></tr>');
							}
						},
						error: function(j) {
						    $('.find_ip_results').html(j.responseText);
						}
					});
					return false;
				});

			});
		</script>
		<div style="margin: 20px auto; display: block; width: 680px; background-color: #fff; padding-top: 20px;">
			<%= (locals.alert)? alert : '' %>
			<h2>ICS Chat Moderation</h2>
			<ol>
				<li>No personal Information</li>
				<li>Be safe, Appropriate and respectful to others</li>
			</ol>
		<form action="user/find/ip" id="find_ip" method="post">
			<input placeholder="Player" name="name">
			<input type="submit" value="Find users with the same IP">
		</form>
		<table class="find_ip_results">
		</table>
		<form action="mod" method="post">
			<input placeholder="Player" name="username">
			<input placeholder="Reason" name="reason">
			<input type="submit" value="Mute">
		</form>
		<div>

		<% if (locals.banned) { %>
			<table>
				<thead>
					<tr><td>Muted user</td><td>Reason</td><td>Timestamp</td></tr>
				</thead>
			<% for (i in banned) { %>
				<tr><td><%= banned[i].name %> <small>(<%= banned[i].ip%>)</small></td>
				<td><%= (banned[i].mute_reason)? banned[i].mute_reason : '-' %></td>
				<td><small><%= (banned[i].mute_at)? banned[i].mute_at : '-' %></small></td></tr>
			<% } %>
		<% } %>
		</div>
	</body>
</html>