<% layout('layout') -%>
<style>
			body {
				background-position: left bottom;
			}
			table {
				margin: 10px 0;
				width: 100%;
			}
			thead td {
				font-weight: bold;
			}
			tbody tr:nth-child(2n+1) td {
			    background-color: #F1F1F1;
			}
			td {
			    padding: 5px;
			    width: 220px;
			}
			input[type="submit"] {
			    background-color: #7f7dc7;
			    color: #fff;
			}
			form {
				padding: 20px;
				background-color: #f1f1f1;
			}
			input {
				background-color: #fff;
				display: inline-block;
			}
</style>
<script type="text/javascript">
			$(document).ready(function (e) {
				console.log('loaded...');

				$('body').on('submit', '#find_ip', function (e) {
					$('.find_ip_results').html('. . .');
					$.ajax({
						url: $(this).attr('action'),
						data: $(this).serialize(),
						type: 'post',
						dataType: 'json',
						success: function (j) {
							$('.find_ip_results').html('<tr><td><b>Name</b></td><td>Banned?</td><td>Last Active</td></tr>');
							for (var i = 0; i < j.length; i++) {
								var result = j[i];
								$('.find_ip_results').append('<tr><td><a href="user/' + result.name + '" target="_blank">' + result.name + '</a></td><td>' + 
									(result.shadow_ban? 'Banned - ' + result.mute_reason : 'Active') + '</td><td>' + result.updated_at + '</td></tr>');
							}
						},
						error: function(j) {
						    $('.find_ip_results').html(j.responseText);
						}
					});
					return false;
				});

			});
</script>

<h2>ICS Chat Moderation</h2>
	<ol>
		<li>No personal Information</li>
		<li>Be safe, Appropriate and respectful to others</li>
	</ol>
			<h2>Commands</h2>
			<ol>
				<li>/dunce (player name) (minutes, optional) (message). Defaults to 60 minutes, typing /dunce again will un-dunce. e.g. /dunce player1 60 Do not swear.</li>
				<li>/ban (player name). Shadow bans the player, they can still play but cant talk. e.g. /ban player1 </li>
			</ol>
		<form action="user/find/ip" id="find_ip" method="post">
			<input placeholder="Player" name="name">
			<input type="submit" value="Find users with the same IP">
		</form>
		<table class="find_ip_results">
		</table>
		<form action="mod" method="post">
			<input placeholder="Player" name="username">
			<input placeholder="Reason" name="reason">
			<input type="submit" value="Mute">
		</form>
		<div>

		<table>
			<thead>
				<tr><td>Muted user</td><td>Reason</td><td>Timestamp</td></tr>
			</thead>
		<% for (i in banned) { %>
			<tr><td><%= banned[i].name %> <small>(<%= banned[i].ip%>)</small></td>
			<td><%= (banned[i].mute_reason)? banned[i].mute_reason : '-' %></td>
			<td><small><%= (banned[i].mute_at)? banned[i].mute_at : '-' %></small></td></tr>
		<% } %>
		</table>

		<table>
				<thead>
					<tr><td>Dunced user</td><td>Reason</td><td>Time Left</td></tr>
				</thead>
			<% for (i in dunced) { %>
				<% var time_left = (new Date(dunced[i].dunce_until) - new Date()) / 1000 / 60; %>
				<% if (time_left > 0) { %>
				<tr><td><%= dunced[i].name %> <small>(<%= dunced[i].ip%>)</small></td>
				<td><%= (dunced[i].dunce_message)? dunced[i].dunce_message : '-' %></td>
				<td><small><%= time_left %></small></td></tr>
				<% } %>
			<% } %>
		</table>

<h3>Chapters</h3>
<table>
	<tr>
		<td>Title</td>
		<td>Text</td>
		<td>Chapter #</td>
		<td>Badge</td>
		<td>Saga</td>
		<td>Actions</td>
	</tr>
	<% for (i in chapters) { %>
		<tr>
			<td><%= chapters[i].title %></td>
			<td><%= chapters[i].text.substring(0, 140) %></td>
			<td><%= chapters[i].chapter_number %></td>
			<td><%= chapters[i].badge_id %></td>
			<td><%= chapters[i].saga %></td>
			<td><a href="/admin/chapter/<%= chapters[i]._id %>/edit">edit</a> | <a href="/admin/chapter/<%= chapters[i]._id %>/remove">remove</a></td>
		</tr>
	<% } %>
</table>
<form action="http://icecreamstand.ca/admin/chapter" method="post">
	Title: <input name="chapter[title]"><br>
	Text: <textarea name="chapter[text]"></textarea><br>
	Chapter Number: <input name="chapter[chapter_number]" type="number"><br>
	Saga: <input name="chapter[saga]"><br>
	Badge: <input name="chapter[badge_id]" type="number"><br>
	SAVE: <input type="submit"><br>
</form>